#page {
    margin: 0 auto 2em auto;
}
#branding {
	border-top: 0 none;
	z-index: 1;
}
.foxyshop #content {
	width: 85%;
}
.singular .entry-header, .singular .entry-content, .singular footer.entry-meta, .singular #comments-title {
	width: auto;
}
.singular .entry-meta .edit-link a {
	top: auto;
	left: auto;
}
.singular.page .hentry {
	padding: 0 0 30px 0;
}

body #cboxClose span {
	vertical-align: -23%;
}



.foxyshop_price {
	color: #A52F1D;
}

#foxyshop_container {
	margin: 0 auto 30px auto;
	overflow: auto;
}
#foxyshop_container h1 {
	font-size: 22px;
	line-height: 30px;
}
#foxyshop_container h2 {
	font-size: 18px;
	line-height: 18px;
}
.foxyshop_product_list {
	margin: 30px 0 15px 0;
}

div.foxyshop_categories_top {
	width: 600px;
	margin: 0 auto;
}

ul.foxyshop_categories {
	padding-left: 0;
	margin: 0;
}

ul.foxyshop_categories li.selected {
	border-top: 2px solid #A52F1D;	
}

ul.foxyshop_categories li.selected h2 a {
	color: #A52F1D;
}

#foxyshop_container .foxyshop_category_children li {
	height: 20px;
}

#foxyshop_container .foxyshop_category_children li.selected {
	height: 19px;
}

#foxyshop_container .foxyshop_category_children li h2 {
	font-size: 8px;
	line-height: 8px;
}

.foxyshop_categories li {
	float: left;
	padding: 20px 0;
	margin: 0;
	width: 150px;
	border-top: 1px solid #BD977E;
	text-align: center;
}

.foxyshop_category_children {
	width: 800px;
	margin: auto;
}

.foxyshop_category_children li {
	width: auto;
	padding: 10px 12px;
}

.foxyshop_categories li a {
	color: #BD977E;
}


.foxyshop_product_list li.foxyshop_product_box {
	width: 200px;
}

.foxyshop_product_list .foxyshop_product_info {
	background: #D6CBC4;
	width: 182px;
	min-height: 55px;
	padding: 10px;
	margin: 0;
	text-align: center;
	position: relative;
}

.foxyshop_product_info_bottom {
	position: absolute; bottom: 0; left: 0;
	text-align: center;
	width: 100%;
}

.foxyshop_product_list .foxyshop_product_info h5 {
	font-family: 'Avenir 55 Roman';
	font-size: 11pt;
	line-height: 12pt;
}
.foxyshop_product_list .foxyshop_product_info h5 a {
	color: #111C1C;
}
.foxyshop_product_list li.foxyshop_product_box .foxyshop_price {
	float: none;
	margin: 5px auto;
}
.foxyshop_product_list .foxyshop_product_image {
	width: 200px;
	float: none;
	margin:0;
	padding:0;
}

.foxyshop_product_list .foxyshop_product_image img {
	width: 200px;
	border: 1px solid #BD977E;
}

/* Product Detail */
.product_detail {
	width: 800px;
	margin: 20px auto;
}

#foxyshop_main_price {
	margin: 10px 0;
}

#foxyshop_main_price span.foxyshop_currentprice,  #foxyshop_main_price span.foxyshop_oldprice{
	float: left;
	margin-top: 6px;
}

#foxyshop_main_price input {
	text-align: center;
	background: #111C1C;
	color: #fff;
}

#foxyshop_main_price span.quantity_dec {
	margin-left: 10px;
}

span.quantity_dec {
  background: url(images/shop/quantity-decrease.png) top left no-repeat;
  margin-right:3px;
}

span.quantity_inc {
  background: url(images/shop/quantity-increase.png) top left no-repeat;
  margin-left:3px;
}

span.quantity_dec, span.quantity_inc {
  cursor: pointer;
  width: 18px;
  height: 26px;
  display:inline-block;
  background-position: 0px 8px;
}

.foxyshop_product_info hr {
	border-top: 1px dashed #898989;
	background: none;
	margin: 20px 0;
}

.foxyshop_variations label {
    width: auto;
}
.foxyshop_variations select {
	margin-top: 5px;
}
.foxyshop_variations input[type=radio] {
	margin-top: 8px;
}
.foxyshop_variations textarea {
	width: auto;
}
.foxyshop_related_product_list {
	margin: 20px 0;
}
.foxyshop_related_product_list li.titleline h3 {
	font-size: 18px;
	font-weight: bold;
}

.foxyshop_product .foxyshop_product_info {
	width: 270px;
}
.foxyshop_product .foxyshop_product_image {
	width: 62%;
	margin-left: 20px;
}
.foxyshop_product .foxyshop_product_image img {
	border: 1px solid #BD977E;
}
.foxyshop_product_image_holder img {
	width: 100%;
}

#foxyshop_breadcrumbs {
	background: none;
	border: none;
}

/* ----------  BUTTONS  ------------ */

.foxyshop_button, .foxyshop_button:visited {
	background: #D74125; 
	display: inline-block; 
	padding: 15px 50px 16px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: inherit; 
	-webkit-border-radius: inherit;
	-moz-box-shadow: inherit;
	-webkit-box-shadow: inherit;
	text-shadow: none;
	position: relative;
	cursor: pointer;
	border: none;
}

.foxyshop_button:hover							{ background: #BD977E; color: #fff; text-decoration: none; }
.foxyshop_button:active							{ top: 1px; }
.small.foxyshop_button, .small.foxyshop_button:visited 			{ font-size: 11px; padding: ; }
.foxyshop_button, .foxyshop_button:visited,
.medium.foxyshop_button, .medium.foxyshop_button:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.foxyshop_button, .large.foxyshop_button:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

button#productsubmit {
	width: 100%;
}


/* ----------  RESPONSIVE TINY  ------------ */
@media all and (max-width:570px) {

#page {
	min-width: 410px;
}

.foxyshop_product_list li.foxyshop_product_box {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div.foxyshop_categories_top {
	width: auto;
}

.foxyshop_categories li {
  clear: both;
  width: 100%;
  float: none;
  text-align: center;
}

.foxyshop_category_children {
	width: auto;
}

.foxyshop_category_children ul.foxyshop_categories li {
  width: auto;	
  float: left;
  clear: none;
}

.foxyshop_product .foxyshop_product_image {
	width: 70%;
	margin: 20px;
}
.foxyshop_product .foxyshop_product_info {
	width: 100%;
}

}



/* ----------  RESPONSIVE SMALL  ------------ */
@media all and (min-width:571px) and (max-width:844px) {

div.foxyshop_categories_top {
	width: 400px;
}

.foxyshop_categories li {
  width: 100px;
}

.foxyshop_category_children {
	width: auto;
}

.foxyshop_product_list .foxyshop_product_image img {
	width: 200px;
}

.foxyshop_product .foxyshop_product_image {
	width: 62%;
	margin: 0;
	float:none;
}
.foxyshop_product .foxyshop_product_info {
	width: 100%;
}

}

/* ----------  RESPONSIVE MEDIUM  ------------ */
@media all and (min-width:845px) and (max-width:1070px) {

}

